# Compiled class files
*.class

# Log files
*.log

# Temp files
*.tmp
*.temp

# IDE files
.idea/
.vscode/
*.iml

# Build directories
/build/
/out/

# Dependency directories
/target/
/lib/
/libs/

# Other files
*.jar
*.war
